* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	max-width: 1200px;
}

.section-title {
	font-size: 2rem;
	margin-bottom: 3rem;
	margin-top: 5rem;
	padding: 2rem;
	text-align: center;

	span {
		color: #8cc63e;
		font-size: 4rem;
		margin: 0rem 1rem;
	}
}

//  NAWIGACJA
header {
	margin: 1rem;
	display: none;

	.header {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.adresses {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			div {
				margin: 1.5rem 0;

				i {
					color: #8cc63e;
					margin-right: 0.5rem;
				}
			}
		}

		.socials {
			display: flex;

			i {
				color: #8cc63e;
				cursor: pointer;
				font-size: 2rem;
				margin: 2.5rem 1rem;
			}
		}
	}
}

.nav-mobile {
	align-items: center;
	background-color: #fff;
	display: flex;
	height: 6rem;
	justify-content: space-between;
	margin: 2rem;

	.logo {
		width: 40%;

		img {
			width: 100%;
		}
	}

	.burger-icon {
		align-items: center;
		background-color: transparent;
		border: none;
		display: flex;
		font-size: 5rem;
		margin: 0.5rem;
		padding: 1rem;
	}

	.hidden-menu {
		align-items: center;
		background: rgb(140, 198, 62);
		background: linear-gradient(0deg, rgba(140, 198, 62, 1) 0%, rgba(210, 255, 150, 1) 44%, rgba(255, 255, 255, 1) 82%);
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: space-evenly;
		position: fixed;
		top: 0;
		left: 0;
		transform: translateX(100%);
		transition: transform 0.5s;
		width: 100vw;
		z-index: 20;

        .rotate {
            transform: rotate(180deg);
            transition: transform 0.5s;
        }

		.offer-options {
			align-items: center;
			display: none;
			flex-direction: column;

			a {
				font-size: 1.4rem;
				margin-bottom: 2.5rem;
			}
		}

		.offer-options.show-options {
			display: flex;
		}

		.hidden-logo {
			position: absolute;
			left: 2rem;
			top: 0rem;
			width: 17rem;

			img {
				width: 100%;
			}
		}

		.fa-x {
			font-size: 5rem;
			padding: 1rem;
			position: absolute;
			right: 2rem;
			top: 2rem;
		}

		a {
			color: black;
			font-size: 2.2rem;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}

.nav-desktop {
	display: none;
	justify-content: center;
	height: 8rem;
	line-height: 6rem;
	width: 100vw;

	.nav-desktop__menu {
		display: flex;
		justify-content: space-between;
		height: 100%;
		max-width: 1200px;
		width: 100%;

		.logo {
			cursor: pointer;
			height: 100%;

			img {
				height: 100%;
			}
		}

		.nav-items {
			align-items: center;
			display: flex;
			justify-content: space-between;
			width: 60%;

			.dropdown-menu {
				background-color: rgb(228, 228, 228);
				display: none;
				position: absolute;
				width: 30rem;
				z-index: 100;

				a {
					color: #000;
					text-decoration: none;
					width: 100%;

					&:hover {
						background-color: #8cc63e;
						color: #fff;
					}
				}
			}
			.nav-item--dropdown:hover .dropdown-menu {
				display: flex;
				flex-direction: column;
			}

			.nav-item {
				color: #000;
				position: relative;
				text-decoration: none;
				text-transform: uppercase;
				text-align: center;
				transition: color 0.3s;
				width: 15rem;

				&::before {
					content: '';
					background-color: #8cc63e;
					height: 120%;
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
					transform: translateY(100%);
					transition: transform 0.4s, opacity 0.4s;
					width: 100%;
					z-index: -1;
				}

				&:hover {
					color: #fff;
				}

				&:hover::before {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
}

// FOOTER
.footer {
	align-items: center;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100vw;

	.footer-contact {
		background-color: rgba(140, 198, 62, 0.1);
		color: #000;
		padding: 3rem;
		width: 100%;

		i {
			color: #8cc63e;
			margin-right: 1rem;
		}

		.footer-left {
			display: flex;
			height: 40rem;
			flex-direction: column;
			justify-content: space-around;

			.logo {
				img {
					width: 18rem;
				}
			}
		}

		.footer-right {
			padding-top: 2rem;

			div {
				margin-top: 2rem;
			}
		}
	}

	.footer-info {
		background-color: #8cc63e;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		width: 100%;

		p {
			margin: 2rem 0;
		}
	}
}

// LABEL
.label {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100vw;

    .label-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .label-title {
            color: #8cc63e;
            font-size: 4rem;
            font-weight: bold;
            margin: 1rem;
        }

        .label-text {
            font-size: 2.5rem;
            margin: 1rem;
        }

        .label-btn {
            background-color: #8cc63e;
            border: none;
            color: #fff;
            font-size: 2rem;
            margin: 1rem;
            padding: 1rem 2rem;
            transition: background-color .3s;

            &:hover {
                background-color: #69962f;
            }
        }

        p {
            font-size: 2rem;
            margin: 1rem;

            span {
                font-weight: bold;
            }
        }
    }
}

// MAIN
.loading-site {
	align-items: center;
	background: rgb(140, 198, 62);
	background: linear-gradient(0deg, rgba(140, 198, 62, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(140, 198, 62, 1) 100%);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1000;

	.progress-bar {
		height: 1rem;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		.progress {
			background-color: #000;
			height: 1rem;
			left: 0;
			position: absolute;
			top: 0;
		}
	}

	img {
		width: 20rem;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	width: 100vw;

	.hero-top {
		align-items: center;
		background-color: #8cc63e;
		color: #fff;
		display: flex;
		font-size: 2rem;
		justify-content: center;
		width: 100%;

		p {
			padding: 1.5rem;
			animation: slide-in 1s;
		}
	}

	.hero-video {
		align-items: center;
		display: flex;
		height: 40rem;
		justify-content: center;
		overflow: visible;
		position: relative;
		width: 100vw;

		.hero-video__text {
			height: 100%;
			position: relative;
			z-index: 10;
			width: 100%;

			p {
				color: #fff;
				font-size: 1.7rem;
				left: 1rem;
				padding: 1rem;
				position: absolute;
				text-shadow: 0.3rem 0.1rem rgba(0, 0, 0, 1);
				top: 20rem;
			}

			h1 {
				color: #fff;
				font-size: 2.5rem;
				left: 1rem;
				padding: 1rem;
				position: absolute;
				text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
				top: 2rem;
				z-index: 10;
			}

			.hero-video__tiles {
				display: none;
				justify-content: space-around;
				position: absolute;
				top: 30%;
				width: 100%;

				.hero-video__tile {
					align-items: center;
					background-color: rgba(0, 0, 0, 0.6);
					border-radius: 2rem;
					display: flex;
					height: 18rem;
					flex-direction: column;
					justify-content: space-around;
					transition: transform 0.3s;
					width: 18%;

					.tile-icon {
						margin-top: 2rem;
						width: 30%;

						img {
							background-color: #8cc63e;
							color: #fff;
							padding: 1rem;
							width: 100%;
						}
					}

					.tile-hide {
						display: none;
					}

					.tile-text {
						color: #fff;
						font-size: 1.7rem;
					}

					.tile-more-info {
						color: #8cc63e;
						cursor: pointer;
						position: relative;
						text-decoration: none;

						&::after {
							content: '';
							width: 100%;
							height: 0.1rem;
							background-color: #8cc63e;
							bottom: 0;
							left: 0;
							position: absolute;
						}
					}

					&:hover {
						transform: scale(1.1);
					}
				}
			}

			.hero-btn {
				background-color: #8cc63e;
				border: none;
				bottom: 4rem;
				color: #fff;
				cursor: pointer;
				font-size: 2rem;
				padding: 1rem 2rem;
				position: absolute;
				right: 8rem;
				transition: background-color 0.3s, color 0.3s;

				&:hover {
					background-color: #fff;
					color: #8cc63e;
				}
			}
		}

		video {
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.cards {
    align-items: center;
	display: flex;
    flex-direction: column;
	justify-content: center;
    margin-bottom: 3rem;
	padding: 2rem;
	width: 100vw;

	.cards-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		.card {
			display: flex;
			flex-direction: column;
			font-size: 1.4rem;
			margin-bottom: 1rem;
			width: 90%;

			span {
				color: #7d248f;
				font-weight: bold;
			}

			.card-top {
				align-items: center;
				background-color: rgba(140, 198, 62, 0.4);
				display: flex;
				justify-content: space-between;
				padding: 1rem;

				.plus-btn {
					background-color: transparent;
					border: none;
					cursor: pointer;
					padding: 1rem;
				}
			}

			.card-bottom {
				background-color: rgb(250, 250, 250);
				display: none;
				padding: 1rem;
			}
		}
	}
}

.products {
	align-items: center;
	background-color: #fff;
	display: flex;
    flex-direction: column;
	justify-content: center;
	width: 100vw;
	position: relative;

    h2 {
        margin: 1rem;
        padding: 0;
    }

    .products-top {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .products-img {
            width: 90%;

            img {
                width: 100%;
            }
        }

        .products-text {
            font-size: 1.8rem;
            padding: 2rem;
            width: 100%;
        }
    }

	.products-cards {
		display: flex;
		flex-direction: column;
        width: 100%;
        padding: 1rem;

		.product-card {
			background-color: rgba(140, 198, 62, 0.1);
			display: flex;
			flex-direction: column;
			font-size: 1.4rem;
            justify-content: space-between;
			margin: 2rem;
			overflow: hidden;
			position: relative;
			width: 90%;

			&:hover .product-card__img {
				transform: scale(1.1);
			}

            &__moreinfo {
                align-self: flex-end;
                color: #7d248f;
                font-weight: bold;
                padding: 2rem;
                text-decoration: none;
                transition: color .3s;

                &:hover {
                    color: #8cc63e;
                }
            }

			&__img {
				background-position: center;
				background-size: cover;
				height: 30rem;
				transition: transform 0.3s ease-in-out;
				width: 100%;
			}

			&__title {
				background-color: rgba(0, 0, 0, 0.6);
				color: #fff;
				font-size: 2.5rem;
				left: 0;
				padding: 1rem;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				top: 15rem;
				width: 100%;
			}

			&__text {
				text-align: center;
				padding: 3rem;

				span {
					color: #7d248f;
					font-weight: bold;
				}
			}

			.one {
				background-image: url('../img/panel-karta.jpg');
			}

			.two {
				background-image: url('../img/pompa-karta.jpg');
			}

			.three {
				background-image: url('../img/energia-karta.jpg');
			}
		}
	}
}

.pv {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;

	.about-pv {
		display: flex;
		flex-direction: column;
		width: 100%;

		.about-pv__left {
			width: 100%;

			.about-pv-logo {
				text-align: center;
				width: 100%;

				img {
					width: 20rem;
				}
			}

			.about-pv-text {
				margin-bottom: 1rem;
				padding: 2rem;
			}

			p {
				padding: 2rem;

				i {
					color: #7d248f;
				}
			}
		}

		.about-pv-right {
			align-items: center;
			display: flex;
			flex-direction: column;

			.pv-tile {
				align-items: center;
				border-radius: 2rem;
				display: flex;
				flex-direction: column;
				height: 12rem;
				margin: 0.5rem;
				justify-content: center;
				padding: 1rem;
				width: 80%;

				&-icon {
					font-size: 2.5rem;
				}

				&-number {
					font-weight: bold;
					font-size: 2rem;
					margin-bottom: 1rem;
				}

				&-text {
					text-align: center;
					font-size: 1.4rem;
				}
			}

			.pv-green {
				background-color: #8cc63e;
			}

			.pv-black {
				background-color: #000;
				color: #fff;
			}
		}
	}

	.pv-steps {
		padding: 1rem;
		margin-top: 2rem;
		text-align: center;

		.pv-step {
			align-items: start;
			background-color: #000;
			background-size: cover;
			background-position: center;
			border: 1px solid black;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 15rem;
			margin-bottom: 1rem;
			padding: 1rem;
			position: relative;
			z-index: -2;

			.pv-step__title {
				font-size: 2.4rem;

				span {
					font-size: 5rem;
					color: #8cc63e;
				}
			}

			.pv-step__shadow {
				background-color: rgba(0, 0, 0, 0.5);
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: -1;
			}

			.pv-step__text {
				margin-left: 3rem;
			}
		}

		.first-pv-step {
			background-image: url('../img/pv-first-step.jpg');
		}

		.second-pv-step {
			background-image: url('../img/pv-second-step.jpg');
		}

		.third-pv-step {
			background-image: url('../img/pv-third-step.jpg');
		}

		.fourth-pv-step {
			background-image: url('../img/pv-fourth-step.jpg');
		}
	}

	.pv-icons {
		margin-top: 5rem;

		.pv-icon {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 5rem;
			text-align: center;

			.pv-icon-img {
				font-size: 5rem;
			}

			.pv-icon-title {
				font-size: 2rem;
				font-weight: bold;
			}

			.pv-icon-text {
				font-size: 1.4rem;
			}
		}
	}

	.pv-place {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		&-title {
			align-items: center;
			background-position: center;
			background-size: cover;
			color: #fff;
			display: flex;
			height: 25rem;
			justify-content: center;
			position: relative;
			width: 90%;
			z-index: -1;

			&-shadow {
				background-color: rgba(0, 0, 0, 0.6);
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				width: 100%;
				z-index: 0;
			}

			&-text {
				font-size: 4rem;
				text-align: center;
				text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
				text-transform: uppercase;
				z-index: 1;

				i {
					color: #8cc63e;
				}
			}
		}

		&-text {
			width: 85%;
			padding: 2rem;

			div {
				margin-bottom: 2rem;
			}

			span {
				color: #7d248f;
				font-weight: bold;
			}

			i {
				color: #7d248f;
			}
		}

		.pv-home {
			background-image: url('../img/pv-place-home.jpg');
		}

		.pv-company {
			background-image: url('../img/pv-place-company.jpg');
		}

		.pv-agro {
			background-image: url('../img/pv-place-agro.jpg');
		}
	}
}

.partners {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	width: 100vw;

	.partners-main {
		width: 100%;

		h2 {
			font-size: 2rem;
			text-align: center;
			margin-top: 2rem;

			span {
				color: #8cc63e;
				font-size: 4rem;
			}
		}

		.logos {
			align-items: center;
			display: flex;
			flex-direction: column;
			height: 15rem;
			justify-content: center;
			width: 100%;

			.mark {
				display: none;
				margin: 3rem 0;
				width: 50%;
			}

			.mark.active {
				display: block;
			}
		}
	}
}

.heat-pumps {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    margin-top: 2rem;
	width: 100vw;
    
	.about-pumps {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
        margin: 2rem 0;
		width: 100%;
        
		.about-pumps-left {
            text-align: center;
			width: 100%;

			img {
                width: 90%;
			}
		}
        
		.about-pumps-right {
            width: 85%;
			text-align: center;
            
			span {
                color: #7d248f;
				font-size: 2.5rem;
				font-weight: bold;
			}
		}
	}

	.pumps-icons {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
		display: flex;
        flex-direction: column;
		width: 100vw;

        h2 {
            margin: 1rem;
        }

        .pumps-icons-list {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;

            .pumps-icon {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 5rem;
                text-align: center;
                width: 70%;
    
                .pumps-icon-img {
                    width: 100%;
    
                    img {
                        width: 10rem;
                    }
                }
    
                .pumps-icon-title {
                    font-weight: bold;
                    font-size: 2.2rem;
                }
            }
        }
	}

    .pumps-combo {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;

        .pumps-combo-el, .pumps-combo-final {
            align-items: center;
            border-radius: 2rem;
            color: #fff;
            display: flex;
            height: 15rem;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 1rem;
            width: 70%;

            img {
                width: 7rem;
            }
            
            
        }
        .pumps-combo-el {
            background-color: rgba(0, 0, 0, 0.7);
            
            p {
                font-size: 2.4rem;
            }
        }

        .pumps-combo-final {
            background-color: #8cc63e;
            text-align: center;

            p {
                font-size: 1.8rem;
            }
        }

        .pumps-combo-plus {
            color: #7d248f;
            font-size: 3rem;
            margin: 3rem;
        }
    }

    .pumps-tips {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100vw;

        .pumps-tips-list {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .pumps-tip {
                align-items: start;
                display: flex;
                flex-direction: row;
                margin-bottom: 5rem;
                width: 80%;

                &-img {
                    color: #8cc63e;
                    font-size: 4rem;
                    margin-right: 3rem;
                }

                &-text {
                    align-items: start;
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    .pumps-tip-title {
                        font-weight: bold;
                        font-size: 2.5rem;
                        margin-bottom: 2rem;
                    } 
                }
            }

        }
    }
}

.cheapenergy {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;

    .cheapenergy-top {
        align-items: center;
        background-image: url('../img/cheapenergy-top-bg-s.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;

        &-text {
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            display: inline;
            height: 85%;
            font-size: 2rem;
            margin: 2rem;
            padding: 1rem;
            width: 85%;

            h2 {
                font-size: 3.3rem;
                margin: 1rem;
                text-shadow: 0.2rem 0.2rem rgba(255, 255, 255, 0.2);
            }
        }

    }

    .cheapenergy-question {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-answer {
            font-size: 2.4rem;
            margin-bottom: 3rem;
            padding: 1rem;
            text-align: center;
        }

        .cheapenergy-answers {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .cheapenergy-answer {
                padding: 1rem;
                text-align: center;
                margin-bottom: 2rem;
                width: 90%;

                &-img {
                    img {
                        width: 10rem;
                    }
                }

                &-title {
                    font-size: 2.5rem;
                    font-weight: bold;
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                }

                p {
                    font-size: 2rem;
                }
            }
        }
    }
}



// MEDIA
@media (min-width: 576px) {
	.nav-mobile {
		.logo {
			width: 30%;
		}

		.burger-icon {
			font-size: 7rem;
		}

		.hidden-menu {
			.fa-x {
				font-size: 6rem;
			}
		}
	}

	.hero {
		.hero-video {
			h1 {
				font-size: 3rem;
			}

			p {
				font-size: 1.9rem;
			}
		}
	}

	.pv {
		.pv-section-title {
			font-size: 2.5rem;

			span {
				font-size: 5rem;
			}
		}

		.pv-steps {
			.pv-step {
				height: 20rem;

				.pv-step__title {
					font-size: 4rem;

					span {
						font-size: 6rem;
					}
				}
			}
		}
	}

    .partners {
        .partners-main {
            .logos {
                .mark {
                    width: 35%;
                }
            }
        }
    }
}

@media (min-width: 768px) {
	header {
		margin-bottom: 3rem;

		.header {
			flex-direction: row;

			.adresses {
				flex-direction: row;
				font-size: 1.4rem;

				div {
					margin-right: 2rem;
				}
			}
		}
	}

	.nav-mobile {
		.logo {
			width: 20%;
		}

		.burger-icon {
			font-size: 5rem;
		}
	}

	.footer {
		.footer-contact {
			align-items: center;
			display: flex;
			justify-content: space-around;
		}

		.footer-info {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.hero {
		.hero-video {
			h1 {
				font-size: 3.5rem;
			}
		}
	}

    .cards {
        h2 {
            font-size: 3rem;
        }
    }

    .products {
        h2 {
            font-size: 3rem;
        }

        .products-top {

            .products-text {
                font-size: 2.2rem;
                width: 70%;
                text-align: center;
            }
        }
    }

	.pv {
		.about-pv {
			.about-pv-right {
				flex-direction: row;
				flex-wrap: wrap;

				.pv-tile {
					height: 15rem;
					width: 45%;
				}
			}
		}

		.pv-section-title {
			font-size: 3.5rem;

			span {
				font-size: 7rem;
			}
		}

		.pv-steps {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.pv-step {
				width: 45%;
				margin-right: 1rem;
			}
		}

		.pv-icons {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 1rem;
			width: 100%;

			.pv-icon {
				.pv-icon-img {
					font-size: 4rem;
				}

				.pv-icon-title {
					font-size: 1.5rem;
				}

				.pv-icon-text {
					font-size: 1.1rem;
				}
			}
		}
	}

	.heat-pumps {
		.about-pumps {
			flex-direction: row;
			padding: 2rem;
		}

		.pumps-icons {
            .pumps-icons-list{
                align-items: flex-start;
                flex-direction: row;

                .pumps-icon {
                    .pumps-icon-img {
                        img {
                            width: 5rem;
                        }
                    }
    
                    .pumps-icon-title {
                        font-size: 1.6rem;
                    }
    
                    .pumps-icon-text {
                        font-size: 1.2rem;
                    }
                }
            }
		}

        .pumps-combo {
            flex-direction: row;

            .pumps-combo-el, .pumps-combo-final {
                height: 20rem;
                width: 20rem;

                img {
                    width: 10rem;
                }
            }

            .pumps-combo-el {
                p {
                    font-size: 2rem;
                }
            }

            .pumps-combo-final {
                p {
                    font-size: 1.8rem;
                }
            }

            .pumps-combo-plus {
                font-size: 5rem;
                margin: 1rem;
            }
        }

        .partners {
            .partners-main {
                h2 {
                    font-size: 3rem;

                    span {
                        font-size: 4rem;
                    }
                }
            }
        }
	}

    .cheapenergy {
        .cheapenergy-top {
            height: 50rem;

            &-text {
                height: 70%;
                width: 70%;
            }
        }

        .cheapenergy-question {
            h2 {
                font-size: 4rem;

                span {
                    font-size: 6rem;
                }
            }

            .cheapenergy-answers {
                flex-direction: row;
                flex-wrap: wrap;
                
                .cheapenergy-answer {
                    width: 45%;
                }
            }

        }


        .partners {
            .partners-main {
                h2 {
                    font-size: 3rem;
                    margin-bottom: 5rem;

                    span {
                        font-size: 4.5rem;
                    }
                }
            }
        }
    }

	.partners {
		.partners-main {
			.logos {
				align-items: center;
				display: flex;
				height: 15rem;
				justify-content: center;
                overflow: hidden;
				padding: 2rem;
				position: relative;

				.mark {
					animation: slideShow 30s linear infinite;
					display: block;
					left: 0;
					margin: 2rem 1rem;
					opacity: 0;
					position: absolute;
					top: 0;
					width: 15rem;
				}

				.first-logo {
					animation-delay: 0s;
				}
				.second-logo {
					animation-delay: 3s;
				}
				.third-logo {
					animation-delay: 6s;
				}

				.fourth-logo {
					animation-delay: 9s;
				}
				.fifth-logo {
					animation-delay: 12s;
				}
				.sixth-logo {
					animation-delay: 15s;
				}
				.seventh-logo {
					animation-delay: 18s;
				}
				.eighth-logo {
					animation-delay: 21s;
				}
				.ninth-logo {
					animation-delay: 24s;
				}

				.tenth-logo {
					animation-delay: 27s;
				}

                .eleventh-logo {
                    animation-delay: 0;
                }

                .twelft-logo {
                    animation-delay: 7s;
                }

                .thirteenth-logo {
                    animation-delay: 14s;
                }

                .fourteenth-logo {
                    animation-delay: 21s;
                }

                .fifteenth-logo {
                    animation-delay: 0;
                }

                .sixteenth-logo {
                    animation-delay: 4s;
                }

                .seventeenth-logo {
                    animation-delay: 8s;
                }

                .eightteenth-logo {
                    animation-delay: 12s;
                }

                .nineteenth-logo {
                    animation-delay: 16s;
                }

                .twentieth-logo {
                    animation-delay: 20.5s;
                }

                .twenty-first-logo {
                    animation-delay: 25s;
                }
			}
		}
	}
}

@media (min-width: 992px) {
	.nav-mobile {
		.logo {
			margin-left: 3rem;
			width: 15%;
		}
	}

	.cards {
		.cards-container {
			.card {
				font-size: 1.6rem;
			}
		}
	}

	.products {
        .products-top {
            flex-direction: row;
        }
		.products-cards {
			flex-direction: row;
		}
	}

	.loading-site {
		img {
			width: 30rem;
		}
	}

	.hero {
		.hero-video {
			.hero-video__text {
				h1 {
					font-size: 2.1rem;
					right: 50rem;
				}

				p {
					font-size: 2rem;
					top: 6rem;
				}

				.hero-btn {
					right: 0;
				}

				.hero-video__tiles {
					display: flex;
				}
			}
		}
	}

	.pv {
		.about-pv {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			.about-pv-right {
				justify-content: center;
				margin-top: 5rem;

				.pv-tile {
					width: 25rem;
				}
			}
		}

		.pv-icons {
			.pv-icon {
				.pv-icon-img {
					font-size: 5rem;
				}

				.pv-icon-title {
					font-size: 2rem;
				}

				.pv-icon-text {
					font-size: 1.3rem;
				}
			}
		}
	}

    .heat-pumps {
        .pumps-icons {
            .pumps-icons-list {
                .pumps-icon {
                    .pumps-icon-img {
                        img {
                            width: 7rem;
                        }
                    }
    
                    .pumps-icon-title {
                        font-size: 1.8rem;
                    }
    
                    .pumps-icon-text {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

	.partners {
		.partners-main {
			h2 {
				font-size: 4rem;

				span {
					font-size: 6rem;
				}
			}

			.logos {
				padding: 3rem;

				.mark {
					margin: 2rem 1rem;
				}
			}
		}
	}

    .cheapenergy {
        .cheapenergy-top {
            background-image: url('../img/cheapenergy-top-bg-l.jpg');
        }
    }
}

@media (min-width: 1200px) {
	header {
		display: flex;
		justify-content: center;
		margin: 0;

		.header {
			width: 100%;
		}
	}

	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
	}

	.hero {
		.hero-video {
			.hero-video__text {
				h1 {
					font-size: 3rem;
				}
			}
		}
	}
}

// ANIMACJE
@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideShow {
	0% {
		opacity: 1;
		left: 100%;
	}
	100% {
		left: -100%;
	}
}
